@import 'colors';

#global-notification {
  position: absolute;
  z-index: 10000;
  bottom: 15%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  max-width: 650px;

  .cover {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  img {
    height: 38px;
    width: 38px;
  }

  .alert {
    $bottom-border-width: 6px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px auto 15px;
    border: none;
    border-bottom: $bottom-border-width solid;
    font-size: 110%;
    background: $oc-color-toast-background;
    overflow: hidden;
    color: $oc-color-black;
    display: flex;
    flex-direction: row-reverse;

    &.alert-success {
      border-color: $oc-color-success;
    }

    &.alert-info {
      border-color: $oc-color-info;
    }

    &.alert-warning {
      border-color: $oc-color-warning;
    }

    &.alert-danger {
      border-color: $oc-color-error;
    }

    .close {
      font-size: 34px;
      font-weight: 300;
      line-height: 24px;
      opacity: 0.6;
      text-shadow: none;
      align-self: flex-start;
      &:hover {
        opacity: 1;
      }
    }

    .alert-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    .alert-icon-container {
      min-width: 38px;
      margin-right: 15px;
      svg {
        margin-top: $bottom-border-width;
      }
    }
  }
}
